body {
  margin: 0 auto;
  max-width: 900px;
}

.form {
  background-color: rgb(192, 204, 200);
  padding: 25px;
  border: 1px solid grey;
}

h1 {
  text-align: center;
}

.cls-1 {
  margin-left: 4%;
}

img {
  padding: 5px;
  cursor: pointer;
}

img:hover {
  background-color: aqua;
}

h2 {
  font-size: xx-large;
  color: rgb(12, 92, 146);
  text-align: center;
}

ul,
li {
  font-size: larger;
  list-style-type: square;
}

h3 {
  color: brown;
}

.line {
  width: 100px;
  border-style: none;
  border-top: dotted;
  border-width: 10px;
  margin-top: 30px;
  color: blue;
}

footer {
  padding: 15px;
  text-align: center;
}
